body {
  background: #fdf5f5;
  width: 300px;
  height: 400px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#player {
  width: 300px;
  height: 400px;
  background: #ffe0e0;
  border: 5px solid #f3a6a6;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative;
}

#song-title {
  width: 180px;
  background: #f3a6a6;
  border:solid 2px #b95353;
  border-radius: 15px;
  color: #b95353;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 1em;
  text-align: center;
  margin: 15px 0 10px 0;
  padding: 6px 0;
  box-shadow: 2px 2px #d16a6a;
}

#cover-area {
  position: relative;
  width: 230px;
  height: 250px;
  background: #fbabb8;
  border: solid 2px #b95353;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px #d16a6a;
}

#progress-overlay {
  position: absolute;
  left: 0;
  bottom: 18px; 
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; 
}
#progress-bar {
  position: relative;
  width: 80%;
  height: 8px;
  background: #d16a6a;
  border-radius: 3px;
  pointer-events: auto;
}
#progress-knob {
  position: absolute;
  left: 25%;
  top: -5px;
  width: 18px;
  height: 18px;
  background: #fb6470;
  border-radius: 9px;
  border: 2px solid #b95353;
  box-shadow: 0 0 2px #b95353;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
#progress-knob:active {
  box-shadow: 0 0 9px #fa9ca9;
}

.control-panel {
  width: 230px;
  height: 150px;
  background: #fcc1dc;
  border: solid 2px #b95353;
  border-radius: 20px;
  margin: 10px 15px;
  padding-top: px;
  display: flex;
  justify-content: center;
  align-items: center; /* keep menu bottom aligned */
  box-shadow: 2px 2px #d16a6a;
  position: relative;
}

/* Menu */
.menu-btn {
  color: #b95353;
  background: #f895b6;
  border: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-family:"pixelify sans" ,sans-serif;
  box-shadow: 2px 2px #d16b6b;
  align-self:flex-end;
}

/* Line with buttons */
.line-container {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 200px;
  height: 4px;
  background: #d16b6b;
  position: absolute;
  bottom: 12px;
}

/* Play button */
.play-btn {
  background-image: contain;
  cursor: pointer;
  position: absolute;
  bottom: -10%;
}

/* Prev/Next buttons */
.prev-btn,
.next-btn {
  background: none;
  border: none;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.prev-btn {
  left: 25%;
}
.next-btn {
  right: 25%;
}

.prev-btn img,
.next-btn img {
  width: 24px;
  height: 24px;
}

/* Hearts */
.hearts {
  display: flex;
  gap: 6px;
  align-self: flex-end;
}

.heart-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.heart-btn img {
  width: 20px;
  height: 20px;
}